@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.project-wrapper {
  background-color: var(--secondaryColor);
  border-bottom: 2px dotted var(--borderColor);
}
#project {
  font-family: "Anton", sans-serif;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: 10px;
}
.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.post {
  border: 2px solid var(--borderColor);
  box-shadow: -20px -17px 11px -10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -20px -17px 11px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -20px -17px 11px -10px rgba(0, 0, 0, 0.6);
}
.post:hover {
  transform: translateY(-10px);
  transition: 1s;
}
.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.seelive {
  color: black;
  margin-left: 10px;
}
.seelive:hover {
  text-decoration: underline;
}
.read-more {
  color: black;
}
.post-preview {
  background-color: white;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-family: "Shippori Mincho B1", serif;
  padding-bottom: 10px;
}

.post-intro {
  color: #090c0f;
  font-size: 14px;
  font-family: "Cardo", serif;
  font-weight: bold;
}
.thumbnail:hover {
  width: 200px;
  cursor: pointer;
}
@media screen and (max-width: 360px) {
  .post-wrapper {
    display: flex;
    flex-direction: column;
  }
  .post {
    margin-top: 18px;
  }
}
