@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600&family=Shippori+Mincho+B1:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap");
.parent-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("../../images/skill_img.jpg");
  position: relative;
  background-size: 100% 100%;
  width: 100vw;
  height: auto;
}
.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 20px 0;
}

#skill {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Wallpoet", cursive;

  text-align: center;
  font-size: 28px;
  padding: 20px 0 10px 0;
}

#skill::after {
  content: " ";
  width: 60px;
  height: 3px;
  background-color: teal;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.main_container {
  max-width: 60vw;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skill_degine {
  width: 300px;
  background-image: linear-gradient(
    148deg,
    rgba(43, 11, 223, 0.945) 30%,
    rgba(0, 0, 0, 0.9) 25%
  );
  border: 2px solid;
  animation: skill_border 1s linear infinite;
  animation-direction: alternate;
  -moz-animation: skill_border 1s linear infinite alternate;
  -webkit-animation: skill_border 1s linear infinite alternate;
  text-align: center;
  margin: 10px;
}
@keyframes skill_border {
  0% {
    border-color: red;
  }
  15% {
    border-color: rgb(197, 179, 12);
  }
  30% {
    border-color: blue;
  }
  45% {
    border-color: green;
  }
  60% {
    border-color: rgb(12, 200, 233);
  }
  80% {
    border-color: rgb(2, 170, 91);
  }
  100% {
    border-color: rgb(211, 18, 179);
  }
}
.skill_degine > h4 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 16px;
}
/* ----------- */
.other_skill {
  display: grid;
  place-items: center;
}
.familiar_with {
  max-width: 50vw;
  text-align: center;
}

.familiar {
  width: 300px;
  background-image: linear-gradient(
    138deg,
    rgba(245, 14, 6, 0.945) 30%,
    rgba(0, 0, 0, 0.9) 25%
  );
  border: 2px solid;
  animation: skill_border 1s linear infinite;
  animation-direction: alternate;
  -moz-animation: skill_border 1s linear infinite alternate;
  -webkit-animation: skill_border 1s linear infinite alternate;
  text-align: center;
  margin: 10px;
}
.familiar > h4 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 16px;
}

@media screen and (max-width: 660px) {
  .main_container {
    display: block;
    margin-bottom: 30px;
  }
  .skill_degine {
    width: 100%;
  }
  #skill::after {
    top: 7%;
  }
  .familiar {
    width: 100%;
  }
  .familiar_with {
    width: 100%;
  }
}
