@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap");
:root {
  --icon-width: 20rem;
  --icon-sm-width: 10rem;
}

.header {
  background-color: var(--mainColor);
  background-image: linear-gradient(rgba(1, 5, 1, 0.4), rgba(2, 3, 2, 0.493)),
    url(../../images/header_img.jpg);
  background-size: 100% 100%;
}
.name-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 8em;
  padding-top: 20px;
  margin-bottom: 30px;
}

.name-wrapper > h1 {
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgb(7, 84, 156);
  font-family: "Grenze Gotisch", cursive;

  margin: 10px auto;
  color: var(--mainText);

  /* font-family: "Roboto Slab", serif; */
}

/* Animation */
h1 {
  animation: animated-text 4s steps(25, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;

  -moz-animation: animated-text 4s steps(25, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
  -webkit-animation: animated-text 4s steps(25, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(46, 248, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  background-color: #001845;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url(https://cdn.pixabay.com/photo/2017/07/03/11/58/smoke-2467437__340.jpg);
  background-size: 100% 100%;
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  border: 2px solid;
  z-index: 10;
}
.my_info {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 16px;
}
.styles_typicalWrapper__1_Uvh {
  padding-left: 8px;
  color: #7efff5;

  font-weight: bold;
}
.my_info::after {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  width: var(--icon-width);
  height: 22px;
  font-size: 1.4rem;
  color: rgb(255, 30, 0);
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid rgb(0, 255, 191);
}
.nav-wrapper {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.browser-dot {
  height: 15px;
  width: 15px;

  border-radius: 50%;
}
#dot-1 {
  animation: dot_animation 2s linear infinite;
  animation-direction: alternate;
  -moz-animation: dot_animation 2s linear infinite alternate;
  -webkit-animation: dot_animation 2s linear infinite alternate;
}

#dot-2 {
  animation: dot_animation 3s linear infinite;
  animation-direction: alternate;
  -moz-animation: dot_animation 3s linear infinite alternate;
  -webkit-animation: dot_animation 3s linear infinite alternate;
}

#dot-3 {
  animation: dot_animation 4s linear infinite;
  animation-direction: alternate;
  -moz-animation: dot_animation 4s linear infinite alternate;
  -webkit-animation: dot_animation 4s linear infinite alternate;
}
.dots-wrapper {
  display: flex;
}
.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
@keyframes dot_animation {
  0% {
    background-color: #00008b;
  }
  15% {
    background-color: #ff1493;
  }
  30% {
    background-color: #1e90ff;
  }
  45% {
    background-color: #00ff00;
  }
  60% {
    background-color: #f5fffa;
  }
  80% {
    background-color: #ff4500;
  }
  100% {
    background-color: #ffff00;
  }
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
}
#navigation {
  margin: 0;
  padding: 10px;
}
#nav-item {
  cursor: pointer;
  color: white;
}

#nav-item:hover {
  color: rgb(109, 109, 112);
  transition: all 1s;
}
.center-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-column {
  /* grid-area: left-column; */
  padding-top: 50px;
  padding-bottom: 50px;
}
#profile_pic {
  display: block;
  margin: 0 auto;
  background-color: var(--secondaryColor);
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid var(--borderColor);
}

#profile_pic:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  cursor: all-scroll;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.right-column {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 380px;
  height: 200px;
  border: 1px dashed #17b875;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  padding: 20px;
  -webkit-box-shadow: -22px -21px 1px 0px rgba(2, 7, 2, 0.87);
  -moz-box-shadow: -22px -21px 1px 0px rgba(2, 7, 2, 0.87);
  box-shadow: -22px -21px 1px 0px rgba(2, 7, 2, 0.87);
}
#preview-shadow {
  /* background-color: var(--previewShadow); */

  max-width: 300px;
  height: 180px;
  padding-left: 8px;
  padding-top: 20px;
}
#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: transparent;

  padding: 15px;
  position: relative;
}
#preview > p {
  font-family: "Courgette", cursive;
  letter-spacing: 2px;
}
#preview > h3 {
  font-family: "Grenze Gotisch", cursive;
  font-family: "Wallpoet", cursive;
  text-align: center;
}
.corner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;

  animation: corner_animation 2s linear infinite alternate;
  -moz-animation: corner_animation 2s linear infinite alternate;
  -webkit-animation: corner_animation 2s linear infinite alternate;
  /* animation-direction: alternate; */
}
@keyframes corner_animation {
  0% {
    background-color: #00008b;
  }
  15% {
    background-color: #ff1493;
  }
  30% {
    background-color: #1e90ff;
  }
  45% {
    background-color: #00ff00;
  }
  60% {
    background-color: #cf0606;
  }
  80% {
    background-color: #ff4500;
  }
  100% {
    background-color: #ffff00;
  }
}
#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}
@media screen and (max-width: 800px) {
  .center-area {
    display: flex;
    flex-direction: column;
  }
  #preview-shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }

  #preview {
    width: 280px;
  }
  .right-column {
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .name-wrapper > h1 {
    font-size: 20px;
  }
  #nav-item {
    font-size: 12px;
  }
  .typing_text::after {
    width: var(--icon-sm-width);
  }
}
@media screen and (max-width: 400px) {
  #preview-shadow {
    width: 100%;
  }
  #preview {
    width: 100%;
  }
  .right-column {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    border: 2px dotted #17b875;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
  }
}
@media screen and (max-width: 400px) {
  #nav-item {
    font-size: 11px;
  }
  .name-wrapper > h1 {
    font-size: 24px;
  }
  .right-column {
    box-shadow: none;
  }
  .right-column {
    border-left: none;
    border-right: none;
  }
  .my_info {
    font-size: 11px;
  }
  .my_info::after {
    height: 20px;
  }
}
@media screen and (max-width: 315px) {
  #nav-item {
    font-size: 8px;
  }
  #preview > h3 {
    font-size: 16px;
  }
  #preview > p {
    font-size: 12px;
  }
}
